<div class="container">
<div class="wrapper  col-md-8 col-md-offset-4 col-sm-10">
<h1>Editing Task</h1>

<%= render 'form' %>

<%= link_to 'Show', user_task_path(@task.user, @task) %> |
<%= link_to 'Back', user_tasks_path(@task.user) %>
</div>
</div>
